.hero {
  background-color: #121212;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.textContainer {
  color: white;
  text-align: center;
}

.heroImage {
  width: 212px;
  height: auto;
}